*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2,p{
    position: absolute;
    font-family: sans-serif;
    background-color: blue;
   color: chocolate;
}
h2{
   
    bottom: 15%;
   
}
p {
    bottom: 10%;
    font-size: 15px;
  }
img{
    
    overflow: scroll;
    box-shadow: 0px 0px 20px 7px rgb(56, 2, 143);
     width: 100%;
    height: 100%;
    object-fit: fill;
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
   
}

.slider {
    width: 84%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10% auto;

  }
#mini-container{
    align-content: flex-end;
}
#items-container{
    width: 100%;
    height: 100%;
    position: relative;
    
}
#up {
    position: absolute;
    left: 105%;
    top: 0%;
    
  }
    


#down{

    position:absolute;
    left: 105%;
    bottom: 0%;
    
}

.select{
   
    background-color: rgba(rgb(248, 239, 239), rgb(220, 231, 220), rgb(57, 57, 194), 0.5);
}

.btn{
    padding: 3px 10px;
    border-radius: 60%;
    border:none;
    font-weight: bolder;
    font-size: 25px;
    background-color: rgba(60, 7, 7, 0.5);
    color: yellow;
    cursor:pointer;
    transition: ease-in-out 0.3s;
}
#items-container #up:hover, #items-container #down:hover{
    background-color: white;
    color: blue;
}

 .item {
    width: 100%;
    height: 100%;
    display: none;
}



.active{
    display: block;
   
}
.animation{
    animation: 1s anim-lineUp ease-out ;
}



@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }